{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Rental System | Sign_up</title>

    <link rel ="stylesheet" href="{% static 'css/floating-labels.css' %}" >

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

    <!-- Favicons -->
    <link rel='icon' href="{% static 'img/images.png' %}">
    
  </head>
  <body>

    <form class="form-signin" method="POST" action="register">
      {% csrf_token %}
  <div class="text-center mb-4">
   
    <a href="/" type="button" class="btn btn-success btn-sm float-right">Home</a>
    <img src="{% static 'img/reg.jpg' %}" class="rounded mx-auto d-block" alt="..." width="30%" height="100%">
    <!-- <img class="mb-4 mx-auto d-block"  alt="" > -->
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <p>Register your account</p>
  </div>

  <div class="form-label-group">
    <input type="text" name='fname' class="form-control" placeholder="FirstName" required autofocus>
    <label for="User Name">FirstName</label>
  </div>

  <div class="form-label-group">
    <input type="text" name='lname'  class="form-control" placeholder="LastName" required>
    <label for="Last Name">LastName</label>
  </div>

  <div class="form-label-group">
    <input type="text" name='uname'  class="form-control" placeholder="UserName" required>
    <label for="username">UserName</label>
  </div>

  <div class="form-label-group">
    <input type="email" name='email'  class="form-control" placeholder="Email" required>
    <label for="Email">Email</label>
  </div>

  <div class="form-label-group">
    <input type="password" name='pwd1'  class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-label-group">
    <input type="password" name='pwd2' class="form-control" placeholder="Confirm Password" required>
    <label for="inputPassword">Confirm Password</label>
  </div>

  <div class="checkbox mb-2">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
</form>
</body>
</html>
